body {
  font-family: sans-serif;
}
.image-wrapper {
  display: flex;
}
h1 {
  text-align: center;
  background-color: #f3ec78;
  background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.image-wrapper img {
  width: 500px;
  height: 300px;
}

.image-container {
  width: 500px;
  height: 300px;
  margin: auto;
  border: 2px solid #000;
  overflow: hidden;
  border-radius: 10px;
}
button {
  position: absolute;
}
.slider {
  position: relative;
  display: flex;
  align-items: center;
}

#nextbtn {
  right: 0;
}

button {
  border: none;
  padding: 20px;
  background: #412626;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.image-wrapper div {
  position: relative;
}
.image-wrapper span {
  position: absolute;
  color: #000;
  width: 100%;
  text-align: center;
  top: 50%;
  font-size: 20px;
  font-weight: 700;
}
